.btn {
    // just having the & in the mix will apply these styles to both links and button elements
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // change for the button element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    // the focus pseudoclass is for button elements, we are removing the default outline and replacing it with the box shadow
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        // inline-block so the button does not span across the entire length of parent container, instead only spanning across content.
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        // animates both unvisited and visited links which in this case are buttons
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        // x y blur color
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        // moves the button up when hovered
        transform: translateY(-2px);
    }
    &:active {
        // 50% less y box shadow when pressed to help achieve the effect that the button is being pressed and getting closer to the screen
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        // moves the button back to the original position 
        transform: translateY(0);
    }
}