.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    // in the header file, the total height of the header element is 95vh and the clipped polygon is 75vh, so in order to move up this about section to meet the edge of that clipped polygon edge we add a negative value to the margin (95vh-75vh = 20vh)
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(/img/nat-4.jpg);
    background-size: cover;
    // negative margin to remove white gap between the two sections, it will move up to cover it
    margin-top: -10rem;

    transform: skewY(-7deg);
    // > is the direct child selector
    // * will select all direct children
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}