.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    // in the header file, the total height of the header element is 95vh and the clipped polygon is 75vh, so in order to move up this about section to meet the edge of that clipped polygon edge we add a negative value to the margin (95vh-75vh = 20vh)
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    // negative margin to remove white gap between the two sections, it will move up to cover it
    margin-top: -10rem;

    transform: skewY(-7deg);
    // > is the direct child selector
    // * will select all direct children
    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
    $color-primary-light,
    $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
.book {
    // for the gradient to be on top of the image, we put it first in the declaration
    // instead of using to right, to bottom, etc. we can use deg 90deg would go from bot left to top right, 105 makes it go left -> right at a slight angle upwards which is what we want.
    // you can declare where the gradient starts and ends by using %
    // you want both colors meeting at 50% so there isn't any cross over in the gradient, white ends at exactly 50% and the transparent starts at 50%
    // this is called a solid color gradient
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%,
    transparent 50%),
    url(../img/nat-10.jpg);
    // cover and 100% is the same thing, you could use these interchangeably for background size
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%),
        url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url(../img/nat-10.jpg);
    }
    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;

        }
        @include respond(tab-port) {
            width: 100%;

        }
    }
}